#misc Windows
**/Thumbs.db

#convenience shortcuts
/*.lnk

#LaTeX/MikTex output
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.synctex.gz
**/*.toc
**/*.pdf
!/sdk/logolineart.pdf
!/sdk/char??.pdf
!/sdk/fvmc.pdf
!/sdk/gamepad.pdf
!/sdk/keyboard.pdf

#assembler output in SDK folder
/sdk/*.R6kCart
/sdk/*.rom
/sdk/*.txt

#versioning files
/lastpush
/prebuild.py
/bumpemuver.py
/bumpfwver.py
/*.pyc
/__pycache__

#misc things to keep to myself
/sdk/chicago.png
/sdk/scs.svg
/sdk/extractcharsvg.py
/sdk/cropcharsvg.py
/sdk/makecharpdf.py
/sdk/vasm6502*.exe
/sdk/vasm.bat
/sdk/vasmhr.bat
/sdk/install.bat
/sdk/ati.bat
/sdk/packhifont.py
/sdk/colorcycle.c
/ver.cpp
/updatever.py

#compile stuff
/compiled/bin/**
/intermed/**
**/fake6502.o
/.vs/
/.vs/**
/x86/
/x86/**
/x64/
/x64/**
