#misc Windows
**/Thumbs.db

#convenience shortcuts
**/*.lnk

#LaTeX/MikTex output
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.synctex.gz
**/*.toc
**/*.pdf
!/docs/common-src/logolineart.pdf
!/docs/pg-src/char??.pdf
!/docs/pg-src/fvmc.pdf
!/docs/pg-src/gamepad.pdf
!/docs/pg-src/keyboard.pdf

#assembler output in SDK folder
/sdk/*.R6kCart
/sdk/*.rom
/sdk/*.txt
/app-src/**/*.R6kCart
/app-src/**/*.rom
/app-src/**/*.txt

#versioning files
/lastpush
/prebuild.py
/bumpemuver.py
/bumpfwver.py
/*.pyc
/__pycache__

#misc things to keep to myself
/**/chicago.png
/**/extractcharsvg.py
/**/cropcharsvg.py
/**/makecharpdf.py
/**/vasm6502*.exe
/**/*.bat
/**/packhifont.py
/**/colorcycle.c
/docs/*-src/*.svg
/ver.cpp
/updatever.py

#compile stuff
/compiled/bin/**
/intermed/**
**/fake6502.o
/.vs/
/.vs/**
/x86/
/x86/**
/x64/
/x64/**
